body {
    background-image: url('roupas/academiacopy.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}

.cadastro-container {
    background-color: #ffffff;
    padding: 40px;
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    backdrop-filter: blur(3px);
    
}

.cadastro-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1rem;
    text-align: center;
}



input {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cadastro-button {
    margin-top: 1rem;
    padding: 0.75rem;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cadastro-button:hover {
    background-color: #054181;
}

.login-link {
    margin-top: 1rem;
    font-size: large;
    color: #333;
    
}

.login-link a {
    margin-top: 1rem;
    color: #0056b3;
    text-decoration: none;
}